/* CSS HEX */
--champagne-pink: #ebd1c1ff;
--amaranth-pink: #dd92aaff;
--blush: #d27487ff;
--redwood: #a47065ff;
--beaver: #b18d81ff;

/* CSS HSL */
--champagne-pink: hsla(23, 51%, 84%, 1);
--amaranth-pink: hsla(341, 52%, 72%, 1);
--blush: hsla(348, 51%, 64%, 1);
--redwood: hsla(10, 26%, 52%, 1);
--beaver: hsla(15, 24%, 60%, 1);

/* SCSS HEX */
$champagne-pink: #ebd1c1ff;
$amaranth-pink: #dd92aaff;
$blush: #d27487ff;
$redwood: #a47065ff;
$beaver: #b18d81ff;

/* SCSS HSL */
$champagne-pink: hsla(23, 51%, 84%, 1);
$amaranth-pink: hsla(341, 52%, 72%, 1);
$blush: hsla(348, 51%, 64%, 1);
$redwood: hsla(10, 26%, 52%, 1);
$beaver: hsla(15, 24%, 60%, 1);

/* SCSS RGB */
$champagne-pink: rgba(235, 209, 193, 1);
$amaranth-pink: rgba(221, 146, 170, 1);
$blush: rgba(210, 116, 135, 1);
$redwood: rgba(164, 112, 101, 1);
$beaver: rgba(177, 141, 129, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-right: linear-gradient(
  90deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-left: linear-gradient(
  270deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
$gradient-radial: radial-gradient(
  #ebd1c1ff,
  #dd92aaff,
  #d27487ff,
  #a47065ff,
  #b18d81ff
);
