header {
  font-family: "Times New Roman", Times, serif;
  background-color: #999;
  height: 50px;
}

ul {
  overflow: hidden;
}

li a {
  display: block;
  list-style-type: none;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

li a:hover {
  background-color: #2198cb;
  padding: 10px 10px;
  color: #fff;
}

li#right {
  float: right;
}

li#left {
  float: left;
}

#search {
  float: left;
  position: relative;
  left: 18%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #fff;
  width: 400px;
  font-size: 15px;
}
