/* Navigation Bar */

header {
  font-family: "Times New Roman", Times, serif;
  background-color: #a46f65ff;
  height: 50px;
  width: 100%;
}

/* Buttons for navigation bar */
ul {
  overflow: hidden;
}

.navBar li {
  display: flex;
  align-items: center;
}

.nav-button a {
  list-style-type: none;
  padding: 15px 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.nav-button a:hover {
  background-color: #8d5d53ff;
  padding: 15px 15px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.category-buttons {
  width: 16.666%;
  background-color: #b4877eff;
  margin-bottom: 30px;
  float: left;
}

.category-buttons a {
  width: 100%;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.category-buttons a:hover {
  background-color: #8d5d53ff;
  padding: 5px 5px;
}

/* Search bar  for navigation bar */
.search {
  position: absolute;
  display: left;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: auto;
  width: 33%;
}

.search input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a46f65ff;
  background-color: #fff;
  color: #000;
  width: 100%;
  font-size: 15px;
}

.search input[type="text"]:focus {
  outline: 2px solid #8d5d53ff;
}

/* Blinking cursor for search bar */
.cursor {
  position: relative;
}

.cursor i {
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: #a46f65ff;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
