  html {
    font-family: "Times New Roman", Times, serif;
  }
  
  body {
    background-color: #f5e8e0ff;
  }

.product-page {
    padding: 20px;
  }
  
/* Style the product details section */
.product-details {
    margin-top: 20px; /* Add space between product details and category */
}

/* Style the "Back to Product List" link */
.back-to-list {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px; /* Move the link to the bottom of the page */
    padding: 10px 20px;
    background-color: #8d5d53ff; /* Background color for the button */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in;
}

.back-to-list:hover {
    background-color: #b4877eff; /* Change background color on hover */
}

  
  .product-image {
    max-width: 50%;
  }
  
  .product-image img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product-info {
    max-width: 45%;
  }
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #8d5d53ff;
  }
  
  .product-description {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Company information */
  .company-information {
    background-color: #f0ddd1ff;
    width: 100%;
    margin-top: 100px;
    padding: 30px 0;
  }
  
  .company-information p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 250px;
    text-align: center;
  }
  
  .company-socials {
    margin: 30px 50px;
    justify-items: center;
    align-items: center;
  }
  
  .company-socials hr {
    width: 100%;
    background-color: #b4877eff;
    border: 1px solid #b4877eff;
  }
  
  /* Footer */
  footer {
    background-color: #b4877eff;
    height: 150px;
    width: 100%;
  }
  
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 100px;
    height: 100%;
    box-sizing: border-box;
    grid-row: 1;
    grid-gap: 50px;
  }
  
  .title p {
    padding-top: 7px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .element a {
    font-size: 17px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
  }
  
  .element a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    background-color: #a46f65ff;
    height: 50px;
    width: 100%;
  }
  
  /*
  ---------------------- ADD TO CART BUTTON ----------------------
  .card-button {
    background-color: #e38cb5ff;
    color: #000;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  
  .card button {
    background-color: #e38cb5ff;
    color: #000;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: #d65c93ff;
  }
  
  .card button:hover {
    background-color: #d65c93ff;
  }
  */
  