.References {
    display: inline-flex;
    width: 100%;
    background-color: #b4877eff;
}

.References ul {
    margin: 20px 20px 0 250px;
    width: 33%;
    padding-bottom: 40px;
}

.References li {
    width: 100%;
    list-style-type: none;

}

.References li p {
    font-size: 20px;
    font-weight: bold;
    line-height: 2.0;
}

.References li a {
    font-size: 16px;
    color: #222222;
    text-decoration: none;
    line-height: 2.0;
}

.References li a:hover {
    text-decoration: #222222;
}